<span class='graph'>
  <svg id='monthly'></svg>
</span>
<span class='graph'>
  <svg id='daily'></svg>
</span>
<script>
  $(document).ready(function() {
    settlement = new Settlement();
    settlement.drawMonthly();
  });
</script>
