<span style="display: flex;align-items: center;justify-content: center">
  <svg id='monthly'></svg>
</span>
<span style="display: flex;align-items: center;justify-content: center">
  <svg id='daily'></svg>
</span>
<script>
  $(document).ready(function() {
    settlement = new Settlement();
    settlement.drawMonthly();
  });
</script>
