<script>
  $(document).ready(function(){
    new Settlement().drawMonthly();
  });
</script>

<div style='padding: 10px' align='right'>
  <%= link_to(payments_path) do %>
    <%= button_tag(:class => 'btn btn-default btn-sm', :title => '管理画面') do %>
      <span class='glyphicon glyphicon-edit'></span>
    <% end %>
  <% end %>
</div>

<hr>
