<script>
  $(document).ready(function(){
    draw();
  });
</script>

<div style='padding: 10px' align="right">
  <a href="/algieba/payments">
    <button class="btn btn-default btn-sm" title="管理画面">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </a>
</div>

<hr>
