@mixin a_common {
  a {
    text-decoration: none;
    color: #ff0000;
  }
}

span.first, span.prev, span.next, span.last {
  @include a_common;
}

form {
  padding: 10px
}

@media (max-width: 1500px){
  .row {
    margin: 0px;
    padding: 0px 10px;
  }
}

@media (min-width: 1501px){
  .row {
    max-width: 1500px;
  }
}

.row-center {
  display: flex;
  align-items: center;
}

.input-custom {
  padding: 0px 5px;
}

.required:after {
  color: red;
  content: ' *';
}

.date-form {
  display: inline;
  width: 40%;
}

#content-type, #condition, #dialog-condition {
  width: 50%;
  margin: 5px 0px;
}

.category-form, .tag-form {
  display: inline;
  width: 80%;
}

.price-form {
  display: inline;
  width: 40%;
}

.payment-type-list {
  width: 25%;
}

.btn-submit {
  width: 100%;
}

#header_payment_type, #header_price{
  width: 10%;
}

#header_date {
  width: 15%;
}

#header_content {
  width: 35%;
}

#header_category {
  width: 15%;
}

#header_tag {
  width: 15%;
}

.content, .category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#payment_table {
  table-layout: fixed;
}
