@mixin a_common {
  a {
    text-decoration: none;
    color: #ff0000;
  }
}

span.prev {
  @include a_common;
}

span.next {
  @include a_common;
}

form {
  padding: 10px
}

.input-custom {
  padding: 0px 5px;
}
