<nav class='navbar navbar-inverse navbar-static-top' style='background-color: #555555'>
  <div class='container'>
    <ul class='nav navbar-nav'>
      <li id='link-management-payments'>
        <%= link_to '収支', payments_path %>
      </li>
      <li id='link-management-categories'>
        <%= link_to 'カテゴリ', categories_path %>
      </li>
      <li id='link-management-dictionaries'>
        <%= link_to '辞書', dictionaries_path %>
      </li>
      <li id='link-management-tags'>
        <%= link_to 'タグ', tags_path %>
      </li>
    </ul>
  </div>
</nav>
